body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    overflow: hidden;
    color: #fefeff;

    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    z-index: -999999999;
}

p {
    margin: 0;
    letter-spacing: 3.5px;
}

a {
    color: inherit;
    text-decoration: none !important;
}

.center {
    font-family: 'Open Sans', 'Helvetica Neue', 'Hiragino Sans GB', 'LiHei Pro', Arial, sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadein 4s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

.fa-ms {
    font-size: 2vh;
    line-height: 1.2vh;
    vertical-align: -1vh;
}

.wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.nickname {
    font-size: 5vh;
}

.lyrics {
    font-size: 1.9vh;
    margin-top: 0.5vh;
    letter-spacing: 1px;
    opacity: 70%;
}

.links {
    margin-top: 1.7vh;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
